.container-head{
    background-color:  rgb(192, 152, 152);
    height: 35px;
    padding: 15px;
    width: 100%;
    display: inline-flex;
    justify-content:space-around;
}

.indigoUser{
    color:black;
}